.selectedDayWrapper {
    width: 50%;
    background-color: #38CEC4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.bigDay {
   
    color: white;
}
.bigDate {
color: white;
font-size: 10rem;
margin: 10px 0 0;
}